{% extends "base.html" %}


{% block content %}
  <h3>About</h3>
  <p>
    I've been involved with programming since 1991, when I got my Amiga 500 but
    it was in 2006 when I switched to Linux full time that I really started
    getting serious about it. In a matter of years, I had become familiar with
    the Python language, Unix architecture and the Open Source ecosystem<br>
    After spending a few years as a web developer in the city of Bordeaux in
    France, I realised that I wanted to focus more on the projects I was
    working on.<br>
    Taking advantage of my dual citizenship, I moved to Los Angeles in 2015
    where I started working on <a href="/projects#lunchcraft">Lunchcraft</a>.
    With a prototype ready, I am now searching for one or several
    co-founders to make this project a reality.<br>
    In the meantime, I will gladly offer my <a href="/freelance">services</a>
    for web or Unix related projects.
  </p>
{% endblock content %}
