{% extends "base.html" %}


{% block content %}
  <h3>Hire me!</h3>
  <p>
    I am currently available for hire to help you on your projects. As I also work on
    several <a href="/projects">other projects</a>, I prefer short and focused
    missions in order to deliver satisfying results as quickly as possible. If you need
    more done, there is no reason not to reiterate several missions! <br/>
    If you are located in the West Los Angeles or Santa Monica area, I can work
    on-site, otherwise I can work remotely.<br/>
    Any necessary R&amp;D will not be billed, only the actual work on your project will.
  </p>
  <p class="cta">
    <a class="btn" href="mailto:mathieu@comandon.org">Get in touch</a>
  </p>
  <h4>What can I do for you?</h4>

  <p>
    <strong>Django development:</strong> With a 7 year experience on the famous Python
    web framework, I can bring new features, update or fix your Django website. I am also
    familiar with several technologies often used along Django such as Django REST Framework
    or Celery.
  </p>

  <p>
    <strong>Python development:</strong> Whether it's writing a desktop GUI app,
    web crawlers or system administration script, Python can solve many problems very quickly.
    I can improve existing Python projects or create a brand new tool to solve a particular problem.
  </p>

  <p>
    <strong>Automation and system administration:</strong> A process with repetitive
    tasks can be very time consuming and prone to errors if it requires human intervention.
    By spending a few hours automating a task, you can end up saving a lot of time (and headaches).
  </p>

  <p>
  <strong>Code quality and automated testing:</strong> Enforcing good coding standards
  and setting up an automated test suite can prevent a lot of bugs and save up a lot of
  time. I can set up a continuous integration platform such as Jenkins for your
  projects and write test suites so you can ship software more rapidly.
  </p>
{% endblock content %}

