{% extends "base.html" %}


{% block content %}
  <h3>Projects</h3>
  <h4>Lunchcraft</h4>
  <p>
  I love cooking but keeping an organised kitchen, discovering new recipes or finding
  new uses for ingredients can all be problems. After realizing that no existing product
  did address those problems in a satisfying manner, I started Lunchcraft.<br/>
  I wish to create a platform that will keep track of users eating habits and what's in
  their kitchen and bring recommendations that will make the best use of available
  ingredients.<br/>
  Lunchcraft is currently in a early prototype stage, if you are interested in making
  this project happen, head to
  <a href="https://lunchcraft.net" target="_blank">lunchcraft.net</a> and
  <a href="mailto:mathieu@comandon.org?subject=Lunchcraft">contact me</a> to get access
  to the prototype.
  </p>

  <h4>Lutris</h4>
  <p>
    I have been a full time Linux user for more than 10 years but I'm also a
    gamer.  While it has become much better in the past few years, Linux and
    gaming weren't things that would go well together and I wanted to change
    that.<br/>
    Lutris is a fully open gaming platform that will make it easy to play any
    game released in the past 40 years, whether it is an ancient Atari 2600
    game, Super Mario Galaxy on the Wii or the latest Wolfenstein, Lutris has
    got your back. The project provides builds for a vast variety of emulators
    and has a very simple scripting language to make game installations fully
    automated. <br/>
    If you like Linux and gaming, go try it out at
    <a href="https://lutris.net" target="_blank">lutris.net</a>
  </p>

  <h4>Linux Weekly Daily Wednesday</h4>
  <p>
  After being an avid watcher and supporter of the
  <a href="https://linuxgamecast.com/" target="_blank">LinuxGameCast Weekly</a> podcast
  for a number of years, I joined the team for their newest show where we cover all news
  related to Linux and Open Source. You can watch us live every Wednesday around
  12:30 Pacific Time on <a href="http://twitch.tv/linuxgamecast" target="_blank">Twitch</a>.
  (And, I agree, the name doesn't make any sense at all.)
  </p>

  <h4>The Gamera Manifesto</h4>
  <p>
    After being unsatisfied with the various existing software development
    manifestos, I've decided to make my own. Named after the brutal but friendly
    turtle Kaiju, the Gamera Manifesto makes no concessions and focuses on
    getting the job done. Go read it at
    <a href="http://gameramanifesto.org/" target="_blank">gameramanifesto.org</a>
  </p>
{% endblock content %}

