body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  width: calc(100% - 1em);
}

.header {
  text-align: center;
}

.social-icons {
  font-size: 1.4em;
  color: #BABABA;
}

