body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  width: calc(100% - 2em);
}

.header {
  text-align: center;
  margin-top: 5em;
}

.header h1 {
  font-size: 2.8em;
  text-transform: uppercase;
}

.header h2 {
  font-size: 1.4em;
  color: #404040;

}

.social-icons {
  font-size: 1.4em;
}

.social-icons a {
  color: #8a8a8a;
  padding: .5em;
}

.social-icons a:hover {
  color: #606060;
}

.menu ul li {
  list-style: none;
  display: block;
}
@media screen and (min-width: 720px) {
  .menu ul li {
    display: inline-block;
  }
}
.menu a {
  text-transform: uppercase;
  text-decoration: none;
  color: #606060;
  padding: 2em;
}

.menu a:hover {
  color: #000;
}

footer {
  margin: 0 auto;
  text-align: center;
}

.cta {
  text-align: center;
}

.btn {
  text-decoration: none;
  background-color: #6F5D95;
  text-transform: uppercase;
  padding: 1.2em 1.6em;
  border-radius: 8px;
  color: #FFF;
}

.btn:hover {
  color: #FFF;
  background-color: #5A4C79;
}
